---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/customers?external_id=petr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OWRiNzRjNjk3NzIzMDFhOTNhYjA4ZDA0YTA5ZGExNWE6YzQ5MzBjYjBlN2Q2YjJhM2ExYTUzNTYyOTBlYzE2ZmY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"entries":[],"current_page":1,"total_pages":1,"has_more":false,"per_page":200,"page":1}'
  recorded_at: Sun, 24 Nov 2019 17:14:31 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/customers
    body:
      encoding: UTF-8
      string: '{"external_id":"petr","data_source_uuid":"ds_07c64243-0d2d-11ea-b71e-8b59b4caa517"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OWRiNzRjNjk3NzIzMDFhOTNhYjA4ZDA0YTA5ZGExNWE6YzQ5MzBjYjBlN2Q2YjJhM2ExYTUzNTYyOTBlYzE2ZmY=
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Status:
      - 422 Unprocessable Entity
    body:
      encoding: UTF-8
      string: '{"errors":{"name":"A name is required for each customer."}}'
  recorded_at: Sun, 24 Nov 2019 17:14:31 GMT
recorded_with: VCR 5.0.0
