---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/customers?external_id=petr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OWRiNzRjNjk3NzIzMDFhOTNhYjA4ZDA0YTA5ZGExNWE6YzQ5MzBjYjBlN2Q2YjJhM2ExYTUzNTYyOTBlYzE2ZmY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"entries":[],"current_page":1,"total_pages":1,"has_more":false,"per_page":200,"page":1}'
  recorded_at: Sun, 24 Nov 2019 17:13:49 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/customers
    body:
      encoding: UTF-8
      string: '{"external_id":"petr","name":"petr","data_source_uuid":"ds_07c64243-0d2d-11ea-b71e-8b59b4caa517"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OWRiNzRjNjk3NzIzMDFhOTNhYjA4ZDA0YTA5ZGExNWE6YzQ5MzBjYjBlN2Q2YjJhM2ExYTUzNTYyOTBlYzE2ZmY=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":31975901,"uuid":"cus_c85ca328-0edd-11ea-b72a-63a2b8cf511f","external_id":"petr","name":"petr","email":"","status":"Lead","customer-since":null,"attributes":{"custom":{},"clearbit":{},"stripe":{},"tags":[]},"data_source_uuid":"ds_07c64243-0d2d-11ea-b71e-8b59b4caa517","data_source_uuids":["ds_07c64243-0d2d-11ea-b71e-8b59b4caa517"],"external_ids":["petr"],"company":"","country":null,"state":null,"city":"","zip":null,"lead_created_at":null,"free_trial_started_at":null,"address":{"country":null,"state":null,"city":"","address_zip":null},"mrr":0,"arr":0,"billing-system-url":null,"chartmogul-url":"https://app.chartmogul.com/#customers/31975901-petr","billing-system-type":"Import
        API","currency":"USD","currency-sign":"$"}'
  recorded_at: Sun, 24 Nov 2019 17:13:50 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/customers?external_id=hassan
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OWRiNzRjNjk3NzIzMDFhOTNhYjA4ZDA0YTA5ZGExNWE6YzQ5MzBjYjBlN2Q2YjJhM2ExYTUzNTYyOTBlYzE2ZmY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"entries":[],"current_page":1,"total_pages":1,"has_more":false,"per_page":200,"page":1}'
  recorded_at: Sun, 24 Nov 2019 17:13:50 GMT
[...]
- request:
    method: get
    uri: https://api.chartmogul.com/v1/plans?external_id=monthly_plan
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OWRiNzRjNjk3NzIzMDFhOTNhYjA4ZDA0YTA5ZGExNWE6YzQ5MzBjYjBlN2Q2YjJhM2ExYTUzNTYyOTBlYzE2ZmY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"19c8bbc1cf5efc34f9f2b60da7c37d91"
    body:
      encoding: ASCII-8BIT
      string: '{"plans":[],"current_page":1,"total_pages":0}'
  recorded_at: Sun, 24 Nov 2019 17:13:51 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/plans
    body:
      encoding: UTF-8
      string: '{"name":"monthly_plan","interval_count":1,"interval_unit":"month","external_id":"monthly_plan","data_source_uuid":"ds_07c64243-0d2d-11ea-b71e-8b59b4caa517"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OWRiNzRjNjk3NzIzMDFhOTNhYjA4ZDA0YTA5ZGExNWE6YzQ5MzBjYjBlN2Q2YjJhM2ExYTUzNTYyOTBlYzE2ZmY=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - W/"70cb137d9111b31ca469f2205a7f8ec3"
    body:
      encoding: UTF-8
      string: '{"external_id":"monthly_plan","name":"monthly_plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_07c64243-0d2d-11ea-b71e-8b59b4caa517","uuid":"pl_c94f0c63-0edd-11ea-b72a-175501350077"}'
  recorded_at: Sun, 24 Nov 2019 17:13:52 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/invoices?customer_uuid=cus_c85ca328-0edd-11ea-b72a-63a2b8cf511f&external_id=8d5db3584313ed3cdca0664c0ed727ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OWRiNzRjNjk3NzIzMDFhOTNhYjA4ZDA0YTA5ZGExNWE6YzQ5MzBjYjBlN2Q2YjJhM2ExYTUzNTYyOTBlYzE2ZmY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"07b0ce050175d3bd39e999858f06cdc7"
    body:
      encoding: ASCII-8BIT
      string: '{"invoices":[],"total_pages":0,"current_page":1}'
  recorded_at: Sun, 24 Nov 2019 17:13:52 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/import/customers/cus_c85ca328-0edd-11ea-b72a-63a2b8cf511f/invoices
    body:
      encoding: UTF-8
      string: '{"invoices":[{"date":"2019-11-24","currency":"USD","line_items":[{"type":"subscription","subscription_external_id":"subs","service_period_start":"2018-01-02T13:15:10Z","service_period_end":"2018-02-02T13:15:10Z","amount_in_cents":1000,"quantity":1,"tax_amount_in_cents":210,"plan_uuid":"pl_c94f0c63-0edd-11ea-b72a-175501350077"}],"external_id":"8d5db3584313ed3cdca0664c0ed727ca"}],"customer_uuid":"cus_c85ca328-0edd-11ea-b72a-63a2b8cf511f"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OWRiNzRjNjk3NzIzMDFhOTNhYjA4ZDA0YTA5ZGExNWE6YzQ5MzBjYjBlN2Q2YjJhM2ExYTUzNTYyOTBlYzE2ZmY=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a8dfbf1dbc6d3aad15fc9c4685b2c491"
    body:
      encoding: UTF-8
      string: '{"invoices":[{"uuid":"inv_60d08594-3e92-4642-8b4d-a2288af10432","external_id":"8d5db3584313ed3cdca0664c0ed727ca","date":"2019-11-24T00:00:00.000Z","due_date":null,"currency":"USD","line_items":[{"uuid":"li_772e72e7-8faa-4b61-8ddb-bc34de170a9a","external_id":null,"type":"subscription","subscription_uuid":"sub_4bc86f05-aa1d-458a-9e8d-56002021634f","subscription_external_id":"subs","prorated":false,"service_period_start":"2018-01-02T13:15:10.000Z","service_period_end":"2018-02-02T13:15:10.000Z","amount_in_cents":1000,"quantity":1,"plan_uuid":"pl_c94f0c63-0edd-11ea-b72a-175501350077","discount_code":"","discount_amount_in_cents":0,"tax_amount_in_cents":210,"transaction_fees_in_cents":0,"account_code":""}],"transactions":[]}]}'
  recorded_at: Sun, 24 Nov 2019 17:13:54 GMT
[...]
